{% extends "blog/base.html" %}
<!-- crispy forms take care of all the formatting for us thats why we dont need to use as_p -->

{% load crispy_forms_tags %}
    {% block content %}
        <div class="content-section">
            <form method='POST'>
                <!-- csrf token will protect our form against certain attacks -->
                <!-- without this the form wont work -->
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class='border-bottom mb-4'>Log In</legend>
                    <!-- {{ form.as_p }}  -->
                    <!-- we can use the '|' to specify that we want to use a filter which is crispy_forms_tags
                    we want our form to be filtered into a crispy-forms format -->
                    {{ form | crispy }}
                    <!-- as_p denotes that we're printing each line as a paragraph -->
                </fieldset>
                <div class="form-group">
                    <button class='btn btn-outline-info' type='submit'>Log In</button>
                </div>
            </form>
            <div class='border-top pt-3'>
                <small class='text-muted'>Need an account?</small> <a href="{% url 'register' %}" class='ml-2'>Register Here</a>
            </div>
        </div>
    {% endblock content %}