{% extends "blog/base.html" %}
<!-- crispy forms take care of all the formatting for us thats why we dont need to use as_p -->

{% load crispy_forms_tags %}
    {% block content %}
        <!-- <h1>Welcome! {{ user.username }}</h1>  -->
        <!-- this 'user' is not something we have to pass in as a context as its a built in 
        variable for the user -->
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.img.url }}" width="200" height="200">
                <div class="media-body">
                    <h2 class="account-heading">{{user.username}}</h2>
                    <p class="text-secondary">{{user.email}}</p>
                </div>
            </div>
            <!-- FORM HERE -->
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <!-- csrf token will protect our form against certain attacks -->
                <!-- without this the form wont work -->
                <fieldset class='form-group'>
                    <legend class='border-bottom mb-4'>Profile Info</legend>
                    <!-- {{ form.as_p }}  -->
                    <!-- we can use the '|' to specify that we want to use a filter which is crispy_forms_tags
                    we want our form to be filtered into a crispy-forms format -->
                    {{ u_form | crispy }}
                    {{ p_form | crispy }}
                    <!-- as_p denotes that we're printing each line as a paragraph -->
                </fieldset>
                <div class="form-group">
                    <button class='btn btn-outline-info' type='submit'>Update</button>
                </div>
            </form>
        </div>
    {% endblock content %}

     <!-- during development, the MEDIA_ROOT is not suitable for serving static files like
                the user profile picture -->

                <!-- at this stage refer django documentation and they provide a snippets
                to paste in projects urls.py -->
                <!-- go to urls.py -->